<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="/dependencies/swagger-ui.css" />
    <link rel="stylesheet" type="text/css" href="/dependencies/index.css" />
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfkcsVbpxLbSWLlz2yw_ID28VOuSgqwJyvUQ&usqp=CAU" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfkcsVbpxLbSWLlz2yw_ID28VOuSgqwJyvUQ&usqp=CAU" sizes="16x16" />
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src="/dependencies/swagger-ui-bundle.js" charset="UTF-8"> </script>
    <script src="/dependencies/swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
    <script src="/dependencies/swagger-initializer.js" charset="UTF-8"> </script>
  </body>
</html>
